@import './../../colors.scss';
@import './../../mixins.scss';

.header-container {
    background: $black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: inherit;
    top: 0;
    box-shadow: 0px 6px 16px -4px rgba(66, 68, 90, 1);
    border-radius: 0 0 6px 6px;
    z-index: 999;

    .logo {
        font-size: 20px;
        color: white;

        span {
            color: $gold;

            @include tablet {
                color: red;
            }
        }
    }
    .menu {
        display: flex;
        list-style: none;

        a {
            padding: 24px 20px;
            color: white;
            text-decoration: none;
            border-top: 2px solid $black;
            border-bottom: 2px solid $black;

            &:hover {
                color: $gold;
                border-top: 2px solid $white;
                border-bottom: 2px solid $white;
            }
        }
    }
}