$primary: #BA1200;
$dark: #031927;
$lightBlue: #9DD1F1;
$mediumBlue: #508AA8;
$veryLightBlue: #C8E0F4;

.courses {
    display: flex;
    flex-direction: column;

    .course {
        margin-bottom: 20px;
        gap: 20px;

        h2 {
            font-size: 16px;
            text-align: center;
            background: $primary;
            color: $dark;
            padding: 6px 10px;
            border-radius: 3px;
            display: inline-block;
        }

        p {
            color: $mediumBlue;
        }
        @media (max-width: 480px) {
            text-align: center;
        }
    }
}
