$greyLight: #F5F5F5;
$black: #212121;
$blackWashy: #424242;
$gold: #FFC400;
$white: white;
$section: #E0E0E0;
$techniColor: #b572ff;
$btn: #BA68C8;
$btnHover: #CE93D8;
$border: #e9e9e9;
$error: #D50000;
$blueLight: #B2EBF2;
$pink: #E91E63;